# Flutter/Dart/Pub
.idea/
.packages
.pub/
.buildlog
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pubspec.lock
/generated/
/.dart_tool/
/build/
**/build/
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*.iml
*.log
.DS_Store
*.class
*.jar
*.keystore
*.jks
*.p12
*.pem
pubspec.lock
flutter_export_environment.sh
